body {
    background: linear-gradient(to top,black,rgb(21, 21, 58),rgb(40, 40, 83));
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    text-align: center;
    padding: 20px;
}

header h1 {
    color: blue;
    font-size: 3.5rem;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixa {
    background: #000000;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    width: 320px;
    text-align: center;
}

.caixa h2 {
    color: rgb(255, 225, 0);
    margin-bottom: 20px;
}

.caixa label {
    display: block;
    font-size: 1rem;
    text-align: left;
    margin-bottom: 5px;
    color: #333;
}

.caixa input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
}

.caixa button {
    width: 105%;
    padding: 12px;
    background: blue;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;
    
}

.caixa button:hover {
    background: darkblue;
    transform: scale(0.9);
    transition: 0.3s;
}

footer {
    width: 1500px;
    text-align: center;
    padding: 18px;
    background: rgb(0, 0, 0);
    color: white;
    font-size: 0.9rem;
}
.brilho {
    color: blue;
    font-size: 3.5rem;
    text-shadow: 0 0 5px #00f, 0 0 10px #00f, 0 0 20px #00f;
    animation: brilhoAnimado 2s infinite alternate;
}

@keyframes brilhoAnimado {
    0% {
        text-shadow: 0 0 5px #00f, 0 0 10px #00f, 0 0 20px #00f;
        color: #4da6ff;
    }
    50% {
        text-shadow: 0 0 10px #1e90ff, 0 0 20px #3399ff, 0 0 40px #66b2ff;
        color: #80d4ff;
    }
    100% {
        text-shadow: 0 0 15px #3399ff, 0 0 30px #66b2ff, 0 0 60px #99ccff;
        color: #b3e0ff;
    }
}